ul.inline-list {
  list-style-type: none;
}

ul.inline-list li {
  float: left;
  margin-right: 0.5em;
}

ul.inline-list li a {
  display: block;
}

.no-style-list {
  list-style: none !important;
}

.margin-top-1 {
  margin-top: 1em;
}

.column-image {
  width: 100%;
}

.home-header {
  padding-top: 1em;
  background-color: #55efc4;
  text-align: center;
}

.resume-header {
  padding-top: 1em;
  background-color: #81ecec;
  text-align: center;
}

.projects-header {
  padding-top: 1em;
  background-color: #74b9ff;
  text-align: center;
}

.hobbies-header {
  padding-top: 1em;
  background-color: #a29bfe;
  text-align: center;
}